*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Mono', monospace;
}
#nav1{
    transition: background-color .4s ease-in;
}
#nav1:hover{
    background-color: rgb(54, 92, 108);
}
#nav2{
    transition: background-color .4s ease-in;
}
#nav2:hover{
    background-color: rgb(54, 92, 108);
}
#nav3{
    transition: background-color .4s ease-in;
}
#nav3:hover{
    background-color: rgb(54, 92, 108);
}
.logo{
    padding-right: 10px;
    display: block;
    width: 5%;
    height: 5%;
    min-width: 55px;
}
main{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, #ffa393 80%);
    background-size: contain;
}
.titulo{
    padding-left: 15px;
    display: flex;
}
.lista{
    padding-left: 100px;
}
.lista1{
    font-size: 30px;
    color: deeppink;
    text-decoration:underline;
}
.p1,.p2,.p3,.p4,.p5,.p6{
    padding-left: 40px;
    font-size: 17px;
    color: black;
}
a:link{
    color: greenyellow;
}
a:visited{
    color: rgb(131, 61, 131);
}
a:hover{
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 0, 85), 0 0 0.2em rgb(251, 0, 255);
}
footer{
    background-color: rgba(34,193,195,1);
}
.f1{
    color: rgba(0, 0, 0, 0.688);
}
.f2{
    color: rgba(0, 0, 0, 0.688);
}
.f3{
    color: rgba(0, 0, 0, 0.688);
}
.f4{
    color: rgba(0, 0, 0, 0.688);
}